@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. <br/>

This is research of Data API builder. <br/>

<a href="https://learn.microsoft.com/en-us/azure/data-api-builder/">https://learn.microsoft.com/en-us/azure/data-api-builder/</a>